* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.frase img{
    width: 100%;
    height: 200px;
}

.main {
    width: 100%;
    background: white;
}

nav{
    width: 100%;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
    background: #f9ca24;
}

.logo {
    flex-basis: 20%;   
}

.logo img{
    width: 80px;
    padding-left: 90px;
}
.nav-links {
    text-align: left;
    flex: 1;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a {
    text-decoration: none;
    color: black;
    border-radius: 20px;
    border: solid black;
    padding: 10px;
}

body{
    margin: 0;
    padding: 0;
    background: #f6e58d;
}


















